-e git+https://github.com/moshes7/tello.git@2fba8226efdfc9d68331f95b44b46a19b87102f6#egg=autonomous_tello
cycler==0.10.0
-e git+https://github.com/damiafuentes/DJITelloPy.git@ed1ec875a98947328f8965e018006083a556e0c0#egg=djitellopy
imutils==0.5.2
kiwisolver==1.1.0
matplotlib==3.1.0
numpy==1.16.4
opencv-contrib-python==4.2.0.32
pygame==1.9.6
pyparsing==2.4.0
python-dateutil==2.8.0
-e git+https://github.com/m-lundberg/simple-pid.git@c121a12843b958ea8b9195d12d7e6c9f170fbbba#egg=simple_pid
six==1.12.0
